button{
    
    
    
}
.image{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(anime.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center;
}
.logo{
    float: left;
    width: 100px;
    height: 50px;
    
   
}
.title{
    
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);

}
.sticker{
    font-family: Arial, bold;
    font-size: 80px;
    color: rgb(8, 155, 32);
}
.login{
    position: absolute;
    padding-left: 50px;
    width: 200px;
    height: 60px;
    font-size: 40px;
    color: rgb(207, 19, 19);
    background-color: rgb(66, 123, 248);
    
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid;
    border-radius: 20px;
    
    


}
.login:hover{
    background-color: gray;
    color: white;

}
.signup{
    position: absolute;
    padding-left: 50px;
    width: 200px;
    height: 60px;
    font-size: 40px;
    color: rgb(207, 19, 19);
    background-color: rgb(66, 123, 248);
    
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid;
    border-radius: 20px;
   
    
}
.signup:hover{
    background-color: gray;
    color: white;
}