{% extends 'layouts/base.html' %}

    
    {% load static %}
    {% block custom_css %}
    
    <link rel="stylesheet" href="{% static 'naruto/header.css' %}">
    <link rel="stylesheet" href="{% static 'naruto/general.css' %}">
    <link rel="stylesheet" href="{% static 'naruto/video.css' %}">

    {% endblock %}


    {% block content %}
    
    
    <div class="video-grid">
        <div class="video-priview">
            <div class="thumbnail-row">
                <img class="thumbnail" src="{% static 'naruto/naruto.jpg'%}">

            </div>
            <div class="video-info-grid">
                <div class="channel-picture">
                    <img class="profile-picture"
                    src="picture/naruto-logo.jpg">
                </div>
                <div class="video-info">
                <p class="video-title">
                    
                    Talking Tech and AI with Google CEO Sundar Pichai!
    
                </p>
                <p class="video-author">
                    Marques Brownlee
                </p>
                <p class="video-stats">
                    3.4M views &#183; 6 months ago
                </p></div>
                

            </div>
        </div>
        <div class="video-priview">
            <div class="thumbnail-row">
                <img class="thumbnail" src="{% static 'naruto/sasuke.jpg'%}">

            </div>
            <div class="video-info-grid">
                <div class="channel-picture">
                    <img class="profile-picture"
                    src="picture/comedy-logo.jpg">
                </div>
                <div class="video-info">
                <p class="video-title">
                    
                    Try Not To Laugh Challenge #9
    
                </p>
                <p class="video-author">
                    Markipiller
                </p>
                <p class="video-stats">
                    19M views &#183; 4 years ago
                </p></div>
                

            </div>
        </div>
        <div class="video-priview">
            <div class="thumbnail-row">
                <img class="thumbnail" src="{% static 'naruto/kakasi.jpg'%}">


            </div>
            <div class="video-info-grid">
                <div class="channel-picture">
                    <img class="profile-picture"
                    src="picture/naruto-logo.jpg">
                </div>
                <div class="video-info">
                <p class="video-title">
                    
                    Talking Tech and AI with Google CEO Sundar Pichai!
    
                </p>
                <p class="video-author">
                    Marques Brownlee
                </p>
                <p class="video-stats">
                    3.4M views &#183; 6 months ago
                </p></div>
                

            </div>
        </div>
        <div class="video-priview">
            <div class="thumbnail-row">
                <img class="thumbnail" src="{% static 'naruto/akatski.jpg'%}">


            </div>
            <div class="video-info-grid">
                <div class="channel-picture">
                    <img class="profile-picture"
                    src="picture/comedy-logo.jpg">
                </div>
                <div class="video-info">
                <p class="video-title">
                    
                    Try Not To Laugh Challenge #9
    
                </p>
                <p class="video-author">
                    Markipiller
                </p>
                <p class="video-stats">
                    19M views &#183; 4 years ago
                </p></div>
                

            </div>
        </div>
        <div class="video-priview">
            <div class="thumbnail-row">
                <img class="thumbnail" src="{% static 'naruto/uchiha.jpg'%}">


            </div>
            <div class="video-info-grid">
                <div class="channel-picture">
                    <img class="profile-picture"
                    src="picture/naruto-logo.jpg">
                </div>
                <div class="video-info">
                <p class="video-title">
                    
                    Talking Tech and AI with Google CEO Sundar Pichai!
    
                </p>
                <p class="video-author">
                    Marques Brownlee
                </p>
                <p class="video-stats">
                    3.4M views &#183; 6 months ago
                </p></div>
                

            </div>
        </div>
        <div class="video-priview">
            <div class="thumbnail-row">
                <img class="thumbnail" src="{% static 'naruto/nas.jpg'%}">


            </div>
            <div class="video-info-grid">
                <div class="channel-picture">
                    <img class="profile-picture"
                    src="picture/comedy-logo.jpg">
                </div>
                <div class="video-info">
                <p class="video-title">
                    
                    Try Not To Laugh Challenge #9
    
                </p>
                <p class="video-author">
                    Markipiller
                </p>
                <p class="video-stats">
                    19M views &#183; 4 years ago
                </p></div>
                

            </div>
        </div>

    </div>
    {% endblock%}
